<div class="wrapper subpage">
  <h1>Contact us</h1>

  <%= form_tag("/contact", method: "get", html: { class: 'form-horizontal', method: :get }) do %>



    <div class="form-group">
      <%= label_tag(:subject, "Subject") %>
      <%= text_field_tag(:subject) %>
    </div>

    <div class="form-group">
      <%= label_tag(:email, "Email address") %>
      <%= text_field_tag(:email) %>
    </div>

    <div class="form-group">
      <%= label_tag(:message, "Message") %>
      <%= text_area_tag(:message) %>
    </div>

  <%= submit_tag("Submit", class: "btn btn-default pull-right btn-lg") %>
  <% end %>
    <div style="clear:both;"></div>
  </form>
</div>
